#wrapper {
    width:65%;
    margin: 0 auto 0 auto;
    border:1px solid #000;
}

.main {
    border:1px solid #000;
}

nav, article, aside {
    float:left;
    padding: 10px;
    border:1px solid #000;
      font-family: Gotham, Sans-Serif;
  font-size: 11px;
  color:#FFFFFF;
  letter-spacing: 1.5px; 
}

nav, aside {
   width:25%; 
     
}

article {
    width:40%;
      font-family: Gotham, Sans-Serif;
  font-size: 11px;
  color:#FFFFFF;
  letter-spacing: 1.5px; 
}

.bottom {
    border:1px solid #000;
    clear:left;
      font-family: Gotham, Sans-Serif;
  font-size: 11px;
  color:#FFFFFF;
  letter-spacing: 1.5px; 
}

body {
    
    background-color:#333230;
text-align:center
          font-family: Gotham, Sans-Serif;
  font-size: 11px;
  color:#FFFFFF;
  letter-spacing: 1.2px; 

}

h1, h2 /*This controls all listed headings. (h1, h2, h3...etc)*/
{ 
    font-family: Duke, Mensch, Sans-Serif;
    color:#F76700;
    font-size:40px;
    text-transform:uppercase;
    padding: 10px;

}

p /*This controls all body text*/
{  /*If the first font name is not available, CSS will proceed through names until one works */  
  font-family: Gotham, Sans-Serif;
  font-size: 11px;
  color:#FFFFFF;
  letter-spacing: 1.5px; 

}

a /*This controls all links (anchors)*/
{
  font-family: Gotham, Helvetica, Sans-Serif;
  font-size: 11px;
  color: #A8654F;
  text-transform:uppercase;
    
}
